@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --background: #101011;
    --text: #EAEDF2;
    --neutral-grey: #eaedf29d;

    --accent: #455DDC;
    --protein: #FF852E;
    --calories: #F73463;
    --carbs: #9646EF;
    --fat: #43D1A7;

    --steffen: #FFDFA3;
    --seby: #B2EF9B;
    --anton: #A3D9FF;

    --ui-background: rgba(34, 38, 49, .6);
    --ui-container-background: rgba(34, 38, 49, .3);
    --menu-background: rgba(16, 16, 17, .1);

    --shadow: 0 3px 6px rgba(0, 0, 0, .25):
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    overflow: hidden;

    body {
        position: relative;
        width: 100%;
        height: 100vh;
        font-family: 'Poppins', sans-serif;
        color: var(--text);
        letter-spacing: -0.25px;
        background: var(--background);

        h1 {
            font-size: 32px;
            line-height: 38px;
            font-weight: 700;
        }

        h3 {
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;
        }

        h4 {
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            color: var(--neutral-grey);
        }

        h5 {
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
        }

        h6 {
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
        }

        p {
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
        }

        .webgl {
            position: fixed;
            top: 0;
            left: 0;
            outline: none;
        }

        .icon-button-L {
            width: 48px;
            height: 48px;
            padding: 0;
            background: none;
            border: none;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all .1s ease-in-out;

            &:hover {
                background: var(--ui-background);
                backdrop-filter: blur(8px);
            }

            .icon-wrapper {
                width: 24px;
                height: 24px;

                svg {
                    fill: var(--text);
                }
            }
        }



        #info-container {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 50;
            opacity: 100%;
            transition: all .4s ease-in-out;

            &.hidden {
                z-index: -50;
                opacity: 0%;

                .text-wrapper {
                    opacity: 0;
                    transition: opacity .8s ease-in-out;

                    h1 {
                        opacity: 0;
                        transition: opacity .4s .4s ease-in-out;
                    }

                    p {
                        opacity: 0;
                        transition: opacity .4s .4s ease-in-out;
                    }
                }

                #info-background {
                    opacity: 0;
                    transition: all .8s ease-in-out;
                }

                #close-button {
                    top: 72px;
                    opacity: 0%;
                    transition: top .4s .4s ease-in-out, opacity .4s ease-in-out;

                }
            }

            .text-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 640px;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding: 56px 48px;
                border-top-right-radius: 48px;
                border-bottom-right-radius: 48px;
                background: var(--accent);
                box-shadow: 3px 0 6px rbga(0, 0, 0, 25%);
                opacity: 100%;
                transition: all .8s ease-in-out;
                z-index: 55;

                h1 {
                    width: 80%;
                    opacity: 100%;
                    margin-bottom: 56px;
                    transition: opacity .4s .4s ease-in-out;
                }

                p {
                    opacity: 100%;
                    transition: opacity .4s .4s ease-in-out;

                    .transparent {
                        color: transparent;
                    }

                    &:first-of-type {
                        margin-bottom: auto;
                    }
                }
            }

            #info-background {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: var(--menu-background);
                backdrop-filter: blur(8px);
                cursor: pointer;
                transition: all .8s ease-in-out;
            }

            #close-button {
                position: absolute;
                top: 56px;
                left: 616px;
                background: var(--text);
                z-index: 60;
                opacity: 100%;
                transition: all .8s .4s ease-in-out;

                .icon-wrapper {
                    svg {
                        fill: var(--accent);
                    }
                }
            }
        }

        #control-panel {
            position: absolute;
            top: 50%;
            left: 32px;
            transform: translateY(-50%);
            width: auto;
            height: auto;
            padding: 8px;
            background: var(--ui-container-background);
            backdrop-filter: blur(8px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 16px;

            .icon-button-L {
                margin-bottom: 48px;

                &:last-of-type {
                    margin-bottom: 0;
                }

                .hidden {
                    opacity: 0;
                }
            }

            .radio-button-group {
                position: relative;
                width: 104px;
                height: auto;
                margin-bottom: 48px;

                &.disabled {
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }

                    .radio-button {
                        user-select: none;
                        opacity: 60%;
                    }
                }

                h4 {
                    line-height: 21px;
                    margin: 0 0 16px 8px;
                }

                .radio-button {
                    position: relative;
                    width: 100%;
                    height: 32px;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: all .2s ease-in-out;
                    margin-bottom: 2px;
                    z-index: 0;

                    &.disabled {
                        user-select: none;
                        opacity: 60%;
                        cursor: default;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: 8px;
                            z-index: 35;
                        }
                    }


                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin: 0;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        appearance: none;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            margin: 0;
                            border-radius: 8px;
                            width: 100%;
                            height: 100%;
                            z-index: 0;
                        }

                        &::after {
                            position: absolute;
                            top: 50%;
                            left: 8px;
                            transform: translateY(-50%);
                            font-family: 'Poppins', sans-serif;
                            color: var(--text);
                            font-size: 14px;
                            line-height: 14px;
                            font-weight: 500;
                            z-index: 5;
                        }

                        &#overview-toggle {
                            &::after {
                                content: "Übersicht";
                            }
                        }

                        &#mood-toggle {
                            &::after {
                                content: "Stimmung";
                            }
                        }

                        &#energylevel-toggle {
                            &::after {
                                content: "Energielevel";
                            }
                        }

                        &#sebastian-toggle {
                            &::after {
                                content: "Sebastian";
                            }
                        }

                        &#steffen-toggle {
                            &::after {
                                content: "Steffen";
                            }
                        }

                        &#anton-toggle {
                            &::after {
                                content: "Anton";
                            }
                        }

                        &#breakfast-toggle {
                            &::after {
                                content: "Frühstück";
                            }
                        }

                        &#lunch-toggle {
                            &::after {
                                content: "Mittagessen";
                            }
                        }

                        &#dinner-toggle {
                            &::after {
                                content: "Abendessen";
                            }
                        }

                        &#snack-toggle {
                            &::after {
                                content: "Snack";
                            }
                        }

                        &:hover {
                            &::before {
                                background-color: var(--ui-background);
                                backdrop-filter: blur(8px);
                            }
                        }

                        &:checked {
                            &#steffen-toggle {
                                &::before {
                                    background: var(--steffen);
                                }

                                &::after {
                                    color: var(--background);
                                }
                            }

                            &#sebastian-toggle {
                                &::before {
                                    background: var(--seby);
                                }

                                &::after {
                                    color: var(--background);
                                }
                            }

                            &#anton-toggle {
                                &::before {
                                    background: var(--anton);
                                }

                                &::after {
                                    color: var(--background);
                                }
                            }

                            &::before {
                                background: var(--accent);
                            }
                        }
                    }

                }
            }
        }

        #meal-info-container {
            width: 624px;
            position: absolute;
            top: 50%;
            right: -316px;
            transform: translateY(-50%);
            padding: 32px 8px 8px 8px;
            z-index: 25;

            &.hidden {
                &::before {
                    opacity: 0;
                }

                h3 {
                    opacity: 0;
                    transition: all .2s ease-in-out;
                }

                h6 {
                    opacity: 0;
                    transition: all .2s ease-in-out;
                }

                .nutrition-container {
                    margin-left: 304px;
                    margin-right: 0;
                    transition-delay: 0;
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 272px;
                height: 100%;
                background: var(--ui-container-background);
                backdrop-filter: blur(8px);
                border-radius: 24px;
                z-index: -5;
                transition: all .2s ease-in-out;
            }

            h3 {
                margin-bottom: 8px;
                padding-left: 16px;
                text-shadow: var(--shadow);
                transition: all .4s ease-in-out;
            }

            #time-wrapper {
                display: flex;

                h6 {
                    margin-bottom: 32px; 
                    text-shadow: var(--shadow);
                    padding-left: 4px;
                    transition: all .4s ease-in-out;

                    &:first-of-type {
                        padding-left: 16px;
                    }
                }
            }

            .nutrition-container {
                position: relative;
                width: 256px;
                margin-bottom: 16px;
                margin-left: 0;
                margin-right: 304px;
                padding: 16px 16px 24px 16px;
                background: var(--ui-background);
                backdrop-filter: blur(8px);
                box-shadow: var(--shadow);
                border-radius: 16px;
                transition-property: margin-left, margin-right;
                transition-duration: .2s;
                transition-timing-function: ease-out;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 16px;
                    z-index: 20;
                    opacity: 0;
                    transition: all .1s ease-in-out;
                }

                &:hover {
                    &::after {
                        opacity: 10%;
                    }
                }

                &#calorie {
                    transition-delay: .1s;

                    &::after {
                        background: var(--calories);
                    }
                }

                &#carb {
                    transition-delay: .2s;

                    &::after {
                        background: var(--carbs);
                    }
                }

                &#protein {
                    transition-delay: .3s;

                    &::after {
                        background: var(--protein);
                    }
                }

                &#fat {
                    margin-bottom: 0px;
                    transition-delay: .4s;

                    &::after {
                        background: var(--fat);
                    }
                }

                h5 {
                    margin-bottom: 16px;
                }

                .text-wrapper {
                    margin-bottom: 12px;

                    span {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }

                .progress-bar {
                    position: relative;
                    width: 100%;
                    height: 4px;
                    border-radius: 2px;
                    background: var(--neutral-grey);

                    .progress {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 50%;
                        height: 100%;
                        border-radius: 2px;
                    }

                    #calories-progress {
                        background: var(--calories);
                    }

                    #carb-progress {
                        background: var(--carbs);
                    }

                    #protein-progress {
                        background: var(--protein);
                    }

                    #fat-progress {
                        background: var(--fat);
                    }
                }
            }
        }
    }
}